.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.productInfo > svg {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.productInfo > h2 {
  margin: 80px 0;
  max-width: 700px;
  font-size: 45px;
  line-height: 1.16;
  text-align: center;
  font-family: Gelica, Georgia, serif;
  color: rgb(20, 42, 114);
}

.productInfo__slide {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.productInfo__slideContent {
  width: 40%;
  padding: 25px;
}

.productInfo__slideContent > h2 {
  color: rgb(41, 84, 175);
  font-size: 38px;
  line-height: 1.15;
  font-family: Gelica, Georgia, serif;
  width: 80%;
}

.productInfo__slideContent > p {
  margin-top: 20px;
  color: #333333;
  font-size: 18px;
  line-height: 25px;
}

.productInfo__slide > video {
  width: 50%;
}

.productInfo__slide > video::-webkit-media-controls {
  display: none !important;
}

@media only screen and (max-width: 1050px) {
  .productInfo > h2 {
    font-size: 32px;
    max-width: 500px;
    margin: 50px 0;
  }

  .productInfo__slideContent > h2 {
    font-size: 30px;
  }

  .productInfo__slideContent > p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 779px) {
  .productInfo__slide {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .slide-reverse {
    flex-direction: column-reverse;
  }

  .productInfo__slide > video {
    width: 80%;
  }

  .productInfo__slideContent {
    width: 80%;
  }

  .productInfo__slideContent > h2 {
    font-size: 24px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
  }

  .productInfo__slideContent > p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
}
